:root {
  --app-bg: #f8f9fa;
  --qu-gold: #ffb81c;
  --qu-light: #4db3ff;
  --qu-dark: #000b65;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--app-bg);
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

/* Bootstrap format changes */
.card {
  border-radius: 0.5rem;
}
.card-header {
  background: linear-gradient(90deg, var(--qu-dark), var(--qu-light));
  color: var(--qu-gold) !important;
  font-weight: 600;
  min-height: 54px !important;
}

/* Navbar */
.top-navbar {
  background-color: var(--qu-dark) !important;
}
.top-navbar .nav-link {
  color: #ffffff !important;
  margin-left: 0.5rem;
}
.top-navbar .nav-link:hover {
  color: var(--qu-light) !important;
}
.navbar-logo {
  width: 120px;
  margin: -6px 0 -10px 0;
}
.gold-text {
  color: var(--qu-gold);
  font-weight: 600;
  margin-left: 0.25rem;
}

/* Other */
.clickable {
  cursor: pointer;
}
