#root, body, .login {
    width: 100%;
    height: 100%;
    background-color: #000B65;
    padding: 0%;
}

#root {
    height: 100vh;
    max-width: 100%;
}

.top {
    background-color: #4DB3FF;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
p {
    margin: 0;
}

.login-text {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #FFB81C;
    -webkit-text-stroke: 1px #000B65;
    margin-left: 25%;
    margin-right: 45%;
    align-self: center;
}

.logo {
    width: 20%;
}

.bottom {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #FFB81C;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 33%;
    padding-right: 33%;
}

.input-field {
    height: 40px;
    margin-bottom: 5%;
    font-size: 16px;
    padding-left: 10px;
    background-color: white;
    border-radius: 1vh;
    border: 1px solid grey;
}

.login-button {
    margin-top: 15%;
}