#root, body, .mailing-list {
    width: 100%;
    height: 100%;
    background-color: #000B65;
    padding: 0;
}

#root {
    height: 100vh;
    max-width: 100%;
}

.mailing-list {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #4DB3FF;
    height: 15%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
p {
    margin: 0;
}

.login-text {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #FFB81C;
    -webkit-text-stroke: 1px #000B65;
    flex-grow: 1;
    margin-right: 20%;
    align-self: center;
}

.logo {
    width: 20%;
    height: auto;
    padding: 0;
}

.bottom {
    margin: 5% 2.5%;
    background-color: #FFB81C;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    flex-grow: 1;
    padding-left: 1%;
    padding-right: 1%;
}

.header {
    text-align: left;
    margin-left: 1%;
}

.add-email, .add-email:hover {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 3%;
    text-align: right;
    background: none;
    color: black;
    font-size: 20px;
    text-decoration: underline;;
}

.emails {
    flex-grow: 1;
    padding-left: 5%;
    padding-right: 5%;
}

.email-box {
    background-color: white;
    border-radius: 10px;
    border: solid 1px grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25%;
    align-items: center;
    margin-bottom: 2%;
}

.email, .edit, .delete {
    filter: invert(1);
    height: 50%;
    margin: 2%;
}

.email {
    filter: invert(1);
    height: 33%;
}

.delete {
    filter: sepia(1) saturate(1000) hue-rotate(-60deg) saturate(1000);
    margin-left: 0;
}

.address-box {
    flex-grow: 1;
    text-align: left;
}